<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="/">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item" href="/allposts.html">All Posts</a>
      <a class="sidebar-nav-item" href="https://dylaniskandar.com">About Me</a>
  </nav>

    <p>&copy; Dylan Iskandar. All rights reserved.</p>
  </div>
</div>
